---
import { SITE } from 'astrowind:config';
import { Image } from 'astro:assets';
import localLogoImage from "../assets/images/logo.png"
---

<span
  class="flex ml-2 rtl:ml-0 rtl:mr-2 text-base lg:text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white items-center"
  data-testid="logo"
>
  <Image src={localLogoImage} alt="Logo" width={50} height={50}/> 
  <span>
    {SITE?.name}
  </span>
</span>
